@font-face {
    font-family: 'MyFont';
    src: url('./font.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }
@font-face {
    font-family: 'MyFont2';
    src: url('./fontawesome-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }



body{
    background-color: gray;
    margin:2rem;
    padding:2rem;
}

.hello {
    color: black;
    font-family: MyFont;
}

